@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  padding: 0px;
}

.app {
  background-color: #FFFFFF;
  color: #5f5f5f;
  width: 100vw;
  /* height: 100vh; */
  margin-top: 5em;
  margin-bottom: 5em;
}

.app .label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 4em;
  text-align: center;
}

.app .label.title {
  font-weight: 700;
}

@media (min-width: 900px) {
  .app .label {
    max-width: 900px;
    margin: auto;
  }
}
